[include]
	path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = current
[core]
	ignorecase = false
	editor = vim
	quotepath = false
[color]
	ui = true
[credential]
	helper = cache --timeout=86400

